[submodule "src/core"]
	path = src/core
	url = https://github.com/vnesting/client-core.git
[submodule "public/profiles"]
	path = public/profiles
	url = https://github.com/gnaloaixey/profiles.git
[submodule "public/private"]
	path = public/private
	url = https://github.com/gnaloaixey/private-profiles.git
